/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
    font-family: 'eenfont';
    src: url('../fonts/eenfont.woff2') format('woff2'),
        url('../fonts/eenfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Romantiques";
    src: url("../fonts/Romantiques.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-main: Red;
    --color-background: rgb(137, 199, 250);
}





/****************/
/* JOUW STYLING */
/****************/
body {
    font-family: Romantiques, sans-serif;
    color: var(--color-main);
    background-color: var(--color-background);
    text-align: center;
    overflow: hidden;
}

#roller {
    background-color: lightyellow;
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    border-radius: 1em;
}

#roller p {
    font-size: 3em;
}

#rollbutton {
    display: none;
}

#bingobutton {
    display: none;
}

#nobingo {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 90%;
    border: 3px rgb(115, 91, 67);
    border-style: solid;
    background-color: rgb(235, 188, 141);
    padding-top: 1em;
    padding-left: 0.5em;
    border-radius: 0.3em;
    margin-bottom: 1.6em;
    margin-right: 0em;
    margin-top: 2em;
}

.container div {
    background-color: rgb(115, 91, 67);
    color: #fff;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: .5em;
    font-family: eenfont;
    color: red;
}

.box {
    background-color: rgb(237, 232, 140);
    color: #fff;
    border-radius: 0.4em;
    border: 3px white;
    border-style: solid;
    height: 2.7em;
    width: 2.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.checkedBox {
    background-color: red;
    color: #fff;
    border-radius: 0.4em;
    border: 3px white;
    border-style: solid;
    height: 2.7em;
    width: 2.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




.kaart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-auto-flow: column;
    width: 13.5em;
    background-color: red;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 0.3em;
}


.box2 {
    background-color: red;
    color: #fff;
    height: 2.7em;
    width: 2.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box2 p {
    font-size: 2em;
    color: white
}


p {
    font-size: 1em;
    color: black;
    font-family: eenfont;
}

.kaart div {
    font-size: 1em;
    color: black;
    font-family: eenfont;
}


#title {
    font-family: Romantique;
}

.stamp {
    width: 3em;
    height: auto;
    transform: translate(6.5em, -14em);
    transition: 0.5s;
    opacity: 1;
}

.stamp:hover {
    cursor: move;
}

@media (min-width: 900px) {
    .kaart {
        width: 25em;
        transform: translate(67em, -30em);
    }

    .box {
        width: 5em;
        height: 5em;
    }
    .checkedBox {
    background-color: red;
    height: 5em;
    width: 5em;

}

    .box2 {
        width: 5em;
        height: 5em;
        padding-bottom: 1em;
    }

    .box2 p {
        font-size: 4em;
    }

    .container div {
        height: 2em;
        width: 2em;
    }

    .container {
        max-width: 60em;
        transform: translateY(3em, -3em)
    }

    .stamp {
        width: 7em;
        transform: translate(38em, -70em)
    }

    #roller {
        width: 15em;
        height: 15em;
        transform: translateX(-13em)
    }

    #roller p {
        font-size: 7em;
    }

    .invisible {
        display: none;
    }
}

#welbingo {
    display: none;
}

.hold {
    opacity: 1;
    width: 3em;
}

.invisible {
    opacity: 0;
}

/* jouw code */
